@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
}

body,
input,
textarea,
button {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #fdfcfc;
    text-transform: uppercase;
}

h1 {
    color: #fdfcfc;
    text-transform: uppercase;
}

span {
    color: #a3a3a3;
}

.header {
    position: absolute;
    width: 100%;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;

    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-navbar ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-navbar ul li{
    margin-right: 25px;
}

.home-section {
    min-height: 100vh;
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
}

.home-content {
    height: 100vh;
    width: 100vw;

    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content a {
    text-align: right;
    color: #d44621;
}

.home-content .subtitle {
    display: flex;
    flex-direction: column;
}

.home-content .title {
    margin-bottom: 20px;
}

.home-content .title h1 {
    text-align: right;
}

.home-content .subtitle {
    margin-bottom: 20px;
}

.home-content .subtitle span {
    text-align: right;
}