@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
}

body,
input,
textarea,
button {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #fdfcfc;
    text-transform: uppercase;
}

h1 {
    color: #fdfcfc;
    text-transform: uppercase;
}

h3 {
    font-size: 55px;
    color: #fdfcfc;
    text-transform: uppercase;
}

span {
    color: #a3a3a3;
}

.header {
    position: absolute;
    width: 100%;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;

    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-navbar ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-navbar ul li{
    margin-right: 25px;
}

.header-navbar ul li .btn-white {
    height: 32px;
    min-width: 150px;

    padding: 5px 20px;
    background-color: #ffffff;
    color: #070706;
    border-radius: 25px;
    border: 2px solid #fdfdfc;
    font-size: 14px;
}

.header-navbar ul li .btn-blue {
    height: 32px;
    min-width: 150px;

    padding: 5px 20px;
    background-color: blue;
    color: #ffffff;
    border-radius: 25px;
    border: 2px solid 'blue';
    font-size: 14px;
}

.header-navbar ul li .btn-green {
    height: 32px;
    min-width: 150px;

    padding: 5px 20px;
    background-color:green;
    color: #ffffff;
    border-radius: 25px;
    border: 2px solid 'green';
    font-size: 14px;
}

.home-section {
    min-height: 100vh;
    background-color: #070706;
}

.home-content {
    height: 100vh;
    width: 100vw;

    max-width: 800px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content a {
    text-align: right;
    color: #d44621;
}

.home-content .subtitle {
    display: flex;
    flex-direction: column;
}

.home-content .title {
    margin-bottom: 20px;
}

.home-content .title h1 {
    text-align: right;
}

.home-content .subtitle {
    margin-bottom: 20px;
}

.home-content .subtitle span {
    text-align: right;
}

.studies-section {
    min-height: 100vh;
    background-color: #d44621;
}

.studies-content {
    max-width: 800px;
    margin: 0 auto;  
}

.studies-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.studies-row {
    max-width: 800px;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 55px;
    margin-top: 55px;
}

.studies-row:last-child {
    margin-top: 55px;
}

.studies-content-column {
    display: flex;
   
    flex-direction: column;
}

.studies-content-column h1 {
    margin-bottom: 15px;
    font-size: 14px;
 }

 .studies-content-column span {
    font-size: 12px;
    margin-bottom: 4px;
 }

.studies-content-column a {
   margin-top: 15px;
   font-size: 10px;
   font-weight: 600;
}

.studies-button {
    height: 32px;
    min-width: 150px;

    padding: 5px 20px;
    background-color: #d44621;
    color: #fdfcfc;
    border-radius: 25px;
    border: 2px solid #fdfdfc;
    font-size: 10px;
}

.services-section {
    background-color: #fdfdfc;
    min-height: 100vh;
    padding-top: 55px;
}

.services-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.services-title {
    color: #605552;
}

.services-content-title {
    margin-bottom: 25px;
    text-align: center;
}

.services-content-subtitle {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 50px;
}

.services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services-container img {
    width: 60px;
    height: 60px;

    margin-bottom: 25px;
}

.services-container h3 {
    color: #070706;
    font-size: 12px;

    margin-bottom: 25px;
}

.services-container span {
    width: 200px;
    text-align: center;
    font-size: 12px;
}

.services-container-row {
    display: flex;
    flex-direction: row;

    margin-bottom: 55px;
}

.services-button {
    height: 36px;
    min-width: 170px;

    padding: 5px 20px;
    background-color: #d44621;
    color: #fdfcfc;
    border-radius: 25px;
    border: 2px solid #fdfdfc;
    font-size: 9px;
    font-weight: 600;

    margin-bottom: 60px;
}

.services-content span {
    font-size: 10px;
    font-weight: 500;
}

.blog-section {
    background-color: #d44621;
    min-height: 70vh;
    padding-top: 55px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.blog-content h1 {
    max-width: 950px;
    text-align: center;

    margin-bottom: 30px;
}

.blog-content span {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}